body {
  font-family: sans-serif;
  line-height: 1.8;
  color: #333;
  background-color: #f9f9f9;
}

main {
  max-width: 800px;
  margin: 2em auto;
  padding: 0 1em;
}

h1,
h2 {
  color: #111;
}

a {
  color: #007aff;
}
